@model Universal.EBI.MVC.Models.ChildResponseViewModel

@{
    ViewData["Title"] = "Detalhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var collection = Model.LastName.Split(" ");
    var fullName = $"{Model.FirstName} {Model.LastName}";
   
}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Cadastros</a></li>
                        <li class="breadcrumb-item"><a href="#">Criança</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Detalhe</li>
                    </ol>
                </nav>
            </div>
        </div>
        
        <form id="form-child" class="row g-4 mt-2" asp-controller="Child" asp-action="Update" asp-route-id="@Model.Id" method="get">
            <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
            <input type="hidden" asp-for="@Model.CreatedDate" value="@Model.CreatedDate" />
            <input type="hidden" asp-for="@Model.CreatedBy" value="@Model.CreatedBy" />
            <input type="hidden" asp-for="@Model.LastModifiedDate" value="@Model.LastModifiedDate" />
            <input type="hidden" asp-for="@Model.LastModifiedBy" value="@Model.LastModifiedBy" />
            <input id="childId" type="hidden" asp-for="@Model.FullName" value="@Model.FullName" />
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid mt-2" style="width: 150px;">
                            <h5 class="my-3">@fullName</h5>
                            <hr>
                            <div class="row">
                                @if (Model.Excluded == true)
                                {
                                    <div class="col-sm-4">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheck" asp-for="@Model.Excluded" value="true" disabled checked" />
                                            <label class="form-check-label" for="flexSwitchCheck">Inativa</label>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-sm-4">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheck" asp-for="@Model.Excluded" value="false" disabled />
                                            <label class="form-check-label" for="flexSwitchCheck">Inativa</label>
                                        </div>
                                    </div>
                                }

                            </div>
                            <hr>
                            <div class="d-flex justify-content-center mb-2">

                                @*@if (ViewData["Referer"].ToString().Contains(actions[0]) || ViewData["Referer"].ToString().Contains(actions[1]))
                            {*@
                                <button type="submit" class="btn btn-primary">Atualizar</button>
                                @Html.ActionLink("Listagem", "GetChildren", "Child", null, new { @class = "btn btn-outline-success ms-1" })
                                <input type="button" class="btn btn-outline-danger ms-1" value="Excluir" onClick="$.post('/Child/ConfirmDeletion/?id=@Model.Id');" />
                                @*<button id="delete-btn" type="button" onclick="location.href='@Url.Action("ConfirmDeletion", "Child")/?id=@Model.Id'" class="btn btn-info">Excluir</button>*@
                                @*}
                            else
                            {
                                <button type="submit" class="btn btn-primary">Atualizar</button>
                            }*@

                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Data Cadastro</p>
                                </div>
                                <div class="col-sm-7">
                                    <label class="text-muted mb-0" id="createdDate">@Model.CreatedDate</label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Criado por</p>
                                </div>
                                <div class="col-sm-7">
                                    <label class="text-muted mb-0" id="createdBy">@Model.CreatedBy</label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Data Atualizacão</p>
                                </div>
                                <div class="col-sm-7">
                                    <label class="text-muted mb-0" id="lastModifiedDate">@Model.LastModifiedDate</label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="mb-0">Atualizado por</p>
                                </div>
                                <div class="col-sm-7">
                                    <label class="text-muted mb-0" id="lastModifiedBy">@Model.LastModifiedBy</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="accordion accordion-borderless" id="accordionFlushExampleX-0">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOneX-0">
                                <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                                        data-mdb-target="#flush-collapseOneX-0" aria-expanded="true" aria-controls="flush-collapseOneX-0">
                                    Info Criança
                                </button>
                            </h2>
                            <div id="flush-collapseOneX-0" class="accordion-collapse collapse show"
                                 aria-labelledby="flush-headingOneX-0" data-mdb-parent="#accordionFlushExampleX-0">
                                <div class="accordion-body">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="input-group form-outline text-muted mb-0">
                                                        <input asp-for="@Model.FirstName" class="form-control" id="firstname" aria-describedby="inputGroupPrepend1" readonly />
                                                        <label for="firstname" class="form-label">Primeiro nome</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.LastName" class="form-control" id="lastname" readonly />
                                                        <label for="lastname" class="form-label">Sobrenome</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Email" class="form-control" id="email" aria-describedby="inputGroupPrepend2" readonly />
                                                        <label for="email" class="form-label">E-mail</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Cpf" class="form-control" id="cpf" aria-describedby="inputGroupPrepend3" readonly />
                                                        <label for="cpf" class="form-label">CPF</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datepicker1'>
                                                            <input asp-for="@Model.BirthDate" class="form-control" readonly />
                                                            <span class="input-group-append">
                                                                <span class="input-group-text bg-white d-block">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect01">Género</label>
                                                        <select asp-for="@Model.GenderType" class="form-select" id="inputGroupSelect01">
                                                            <option selected>Selecione...</option>
                                                            <option value="M">Masculino</option>
                                                            <option value="F">Feminino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect02">Faixa Etária</label>
                                                        <select asp-for="@Model.AgeGroupType" class="form-select" id="inputGroupSelect02">
                                                            <option selected>Selecione...</option>
                                                            <option value="Nursery">Berçário</option>
                                                            <option value="Maternal">Maternal</option>
                                                            <option value="Primary">Primário</option>
                                                            <option value="Juniors">Juniores</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">

                                                @if (Model != null && Model.Phones.ToList().Count > 0)
                                                {
                                                    @for (int i = 0; i < Model.Phones.ToList().Count; i++)
                                                    {
                                                        <input type="hidden" asp-for="@Model.Phones[i].Id" value="@Model.Phones[i].Id" />
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <label class="input-group-text" for="inputGroupSelect03">Telefone</label>
                                                                <select asp-for="@Model.Phones[i].PhoneType" class="form-select" id="inputGroupSelect03">
                                                                    <option selected>Selecione...</option>
                                                                    <option value="Residential">Residencial</option>
                                                                    <option value="Commercial">Comercial</option>
                                                                    <option value="CellPhone">Celular</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Phones[i].Number" class="form-control" id="number" aria-describedby="inputGroupPrepend4" readonly />
                                                                <label for="number" class="form-label">Número</label>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                @if (Model != null && Model.Phones.ToList().Count == 0)
                                                {
                                                    @for (int i = 0; i < Model.Phones.ToList().Count; i++)
                                                    {
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <label class="input-group-text" for="inputGroupSelect03">Telefone</label>
                                                                <select asp-for="@Model.Phones[i].PhoneType" class="form-select" id="inputGroupSelect03">
                                                                    <option selected>Selecione...</option>
                                                                    <option value="Residential">Residencial</option>
                                                                    <option value="Commercial">Comercial</option>
                                                                    <option value="CellPhone">Celular</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Phones[i].Number" class="form-control" id="number" aria-describedby="inputGroupPrepend4" readonly />
                                                                <label for="number" class="form-label">Número</label>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <input type="hidden" asp-for="@Model.Address.Id" value="@Model.Address.Id" />
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Address.PublicPlace" class="form-control" id="publicPlace" aria-describedby="inputGroupPrepend5" readonly />
                                                        <label for="publicPlace" class="form-label">Logradouro</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Address.Number" class="form-control" id="number" aria-describedby="inputGroupPrepend6" readonly />
                                                        <label for="number" class="form-label">Número</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Address.Complement" class="form-control" id="complement" aria-describedby="inputGroupPrepend7" readonly />
                                                        <label for="complement" class="form-label">Complemento</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Address.District" class="form-control" id="district" aria-describedby="inputGroupPrepend8" readonly />
                                                        <label for="district" class="form-label">Bairro</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Address.City" class="form-control" id="city" aria-describedby="inputGroupPrepend9" readonly />
                                                        <label for="city" class="form-label">Cidade</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Address.State" class="form-control" id="state" aria-describedby="inputGroupPrepend10" readonly />
                                                        <label for="state" class="form-label">Estado</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Address.Country" class="form-control" id="country" aria-describedby="inputGroupPrepend11" readonly />
                                                        <label for="country" class="form-label">País</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Address.ZipCode" class="form-control" id="zipCode" aria-describedby="inputGroupPrepend12" readonly />
                                                        <label for="zipCode" class="form-label">CEP</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model != null && Model.Responsibles.ToList().Count > 0)
                        {
                            @for (int i = 0; i < Model.Responsibles.ToList().Count; i++)
                            {
                                var count = i + 1;
                                <input type="hidden" asp-for="@Model.Responsibles[i].Id" value="@Model.Responsibles[i].Id" />                                
                                <input type="hidden" asp-for="@Model.Responsibles[i].CreatedDate" value="@Model.Responsibles[i].CreatedDate" />
                                <input type="hidden" asp-for="@Model.Responsibles[i].CreatedBy" value="@Model.Responsibles[i].CreatedBy" />
                                <input type="hidden" asp-for="@Model.Responsibles[i].LastModifiedDate" value="@Model.Responsibles[i].LastModifiedDate" />
                                <input type="hidden" asp-for="@Model.Responsibles[i].LastModifiedBy" value="@Model.Responsibles[i].LastModifiedBy" />
                                <input type="hidden" asp-for="@Model.Responsibles[i].FullName" value="@Model.Responsibles[i].FullName" />
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo-@i">
                                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                                data-mdb-target="#flush-collapseTwoX-@i" aria-expanded="false" aria-controls="flush-collapseTwoX-@i">
                                            Responsável #@count
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwoX-@i" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoX-@i"
                                         data-mdb-parent="#accordionFlushExampleX-@i">
                                        <div class="accordion-body">
                                            <div class="card mb-4">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="input-group form-outline text-muted mb-0">
                                                                <input asp-for="@Model.Responsibles[i].FirstName" class="form-control" id="reponsible-firstname" aria-describedby="inputGroupPrepend13" readonly />
                                                                <label for="reponsible-firstname" class="form-label">Primeiro nome</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].LastName" class="form-control" id="reponsible-lastname" aria-describedby="inputGroupPrepend14" readonly />
                                                                <label for="reponsible-lastname" class="form-label">Sobrenome</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Email" class="form-control" id="reponsible-email" aria-describedby="inputGroupPrepend15" readonly />
                                                                <label for="reponsible-email" class="form-label">E-mail</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Cpf" class="form-control" id="reponsible-cpf" aria-describedby="inputGroupPrepend16" readonly />
                                                                <label for="reponsible-cpf" class="form-label">CPF</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class='input-group date' id='datepicker2-@i'>
                                                                    <input asp-for="@Model.Responsibles[i].BirthDate" class="form-control" readonly />
                                                                    <span class="input-group-append">
                                                                        <span class="input-group-text bg-white d-block">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <label class="input-group-text" for="inputGroupSelect04">Género</label>
                                                                <select asp-for="@Model.Responsibles[i].GenderType" class="form-select" id="inputGroupSelect04">
                                                                    <option selected>Selecione...</option>
                                                                    <option value="M">Masculino</option>
                                                                    <option value="F">Feminino</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <label class="input-group-text" for="inputGroupSelect05">Parentesco</label>
                                                                <select asp-for="@Model.Responsibles[i].KinshipType" class="form-select" id="inputGroupSelect05">
                                                                    <option selected>Selecione...</option>
                                                                    <option value="Dad">Pai</option>
                                                                    <option value="Mom">Mãe</option>
                                                                    <option value="Grandfather">Avô</option>
                                                                    <option value="Grandmother">Avó</option>
                                                                    <option value="Uncle">Tio</option>
                                                                    <option value="Aunt">Tia</option>
                                                                    <option value="Brother">Irmão</option>
                                                                    <option value="Sister">Irmã</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        @if (Model != null && Model.Responsibles[i].Phones.ToList().Count > 0)
                                                        {
                                                            @for (int j = 0; j < Model.Responsibles[i].Phones.ToList().Count; j++)
                                                            {
                                                                <input type="hidden" asp-for="@Model.Responsibles[i].Phones[j].Id" value="@Model.Responsibles[i].Phones[j].Id" />
                                                                <div class="col-sm-6">
                                                                    <div class="input-group">
                                                                        <label class="input-group-text" for="inputGroupSelect06">Telefone</label>
                                                                        <select asp-for="@Model.Responsibles[i].Phones[j].PhoneType" class="form-select" id="inputGroupSelect06">
                                                                            <option selected>Selecione...</option>
                                                                            <option value="Residential">Residencial</option>
                                                                            <option value="Commercial">Comercial</option>
                                                                            <option value="CellPhone">Celular</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="input-group form-outline">
                                                                        <input asp-for="@Model.Responsibles[i].Phones[j].Number" class="form-control" id="reponsible-phoneNumber" aria-describedby="inputGroupPrepend17" readonly />
                                                                        <label for="reponsible-phoneNumber" class="form-label">Número</label>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }

                                                        @if (Model != null && Model.Phones.ToList().Count == 0)
                                                        {
                                                            @for (int j = 0; j < Model.Responsibles[i].Phones.ToList().Count; j++)
                                                            {
                                                                <div class="col-sm-6">
                                                                    <div class="input-group">
                                                                        <label class="input-group-text" for="inputGroupSelect06">Telefone</label>
                                                                        <select asp-for="@Model.Responsibles[i].Phones[j].PhoneType" class="form-select" id="inputGroupSelect06">
                                                                            <option selected>Selecione...</option>
                                                                            <option value="Residential">Residencial</option>
                                                                            <option value="Commercial">Comercial</option>
                                                                            <option value="CellPhone">Celular</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="input-group form-outline">
                                                                        <input asp-for="@Model.Responsibles[i].Phones[j].Number" class="form-control" id="reponsible-phoneNumber" aria-describedby="inputGroupPrepend18" readonly />
                                                                        <label for="reponsible-phoneNumber" class="form-label">Número</label>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-4">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <input type="hidden" asp-for="@Model.Responsibles[i].Address.Id" value="@Model.Responsibles[i].Address.Id" />
                                                        <div class="col-sm-9">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Address.PublicPlace" class="form-control" id="reponsible-publicPlace" aria-describedby="inputGroupPrepend19" readonly />
                                                                <label for="reponsible-publicPlace" class="form-label">Logradouro</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Address.Number" class="form-control" id="reponsible-number" aria-describedby="inputGroupPrepend20" readonly />
                                                                <label for="reponsible-number" class="form-label">Número</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Address.Complement" class="form-control" id="reponsible-complement" aria-describedby="inputGroupPrepend21" readonly />
                                                                <label for="reponsible-complement" class="form-label">Complemento</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Address.District" class="form-control" id="reponsible-district" aria-describedby="inputGroupPrepend22" readonly />
                                                                <label for="reponsible-district" class="form-label">Bairro</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Address.City" class="form-control" id="reponsible-city" aria-describedby="inputGroupPrepend23" readonly />
                                                                <label for="reponsible-city" class="form-label">Cidade</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Address.State" class="form-control" id="reponsible-state" aria-describedby="inputGroupPrepend24" readonly />
                                                                <label for="reponsible-state" class="form-label">Estado</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Address.Country" class="form-control" id="reponsible-country" aria-describedby="inputGroupPrepend25" readonly />
                                                                <label for="reponsible-country" class="form-label">País</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="input-group form-outline">
                                                                <input asp-for="@Model.Responsibles[i].Address.ZipCode" class="form-control" id="reponsible-zipCode" aria-describedby="inputGroupPrepend26" readonly />
                                                                <label for="reponsible-zipCode" class="form-label">CEP</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- MDB -->
<script src="~/mdb5-ui-kit/js/mdb.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

