@model Universal.EBI.MVC.Models.ClassroomViewModel
@using Universal.EBI.MVC.Models

@{
    ViewData["Title"] = "Registro de Sala de Aula";
}

<div class="col-md-12 mt-md-5">
    <div class="card col-md-12">
        <form class="row g-4" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="card-body">
                <div class="card-text">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-md-12">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Sala de Aula
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row col-md-12">
                                                <div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="Region" class="form-control" id="region" required />
                                                        <label for="region" class="form-label">Região</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Region" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="Church" class="form-control" id="church" required />
                                                        <label for="church" class="form-label">Igreja</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Church" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="Lunch" class="form-control" id="lunch" />
                                                        <label for="lunch" class="form-label">Lanche</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Lunch" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datepicker4'>
                                                            <input asp-for="CreatedDate" class="form-control" />
                                                            <span class="input-group-append">
                                                                <span class="input-group-text bg-white d-block">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-md-3 mt-md-4">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect04">Tipo de Sala</label>
                                                        <select asp-for="ClassroomType" class="form-select" id="inputGroupSelect04">
                                                            <option selected>Selecione...</option>
                                                            <option value="1">Berçário</option>
                                                            <option value="2">Maternal</option>
                                                            <option value="3">Primário</option>
                                                            <option value="4">Juniores</option>
                                                            <option value="5">Mista</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 mt-md-4">
                                                    <div class="p-md-1">
                                                        <div class="col-md-1 form-check-inline">
                                                            <label class="mb-2" for="flexRadioDefault">Horário</label>
                                                        </div>
                                                        <!-- Default radio -->
                                                        <div class="form-check-inline col-md-2">
                                                            <input type="radio" class="form-check-input" id="flexRadioDefault1" value="7:00H-AM" />
                                                            <label class="form-check-label" for="flexRadioDefault1">7:00H-AM</label>
                                                        </div>
                                                        <div class="form-check-inline col-md-2">
                                                            <input type="radio" class="form-check-input" id="flexRadioDefault2" value="10:00H-AM" />
                                                            <label class="form-check-label" for="flexRadioDefault2">10:00H-AM</label>
                                                        </div>
                                                        <div class="form-check-inline col-md-2">
                                                            <input type="radio" class="form-check-input" id="flexRadioDefault3" value="15:00H-AM" />
                                                            <label class="form-check-label" for="flexRadioDefault3">15:00H-AM</label>
                                                        </div>
                                                        <div class="form-check-inline col-md-2">
                                                            <input type="radio" class="form-check-input" id="flexRadioDefault4" value="19:30H-AM" />
                                                            <label class="form-check-label" for="flexRadioDefault4">19:30H-AM</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Educador
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="col-md-12">
                                                <div class="row col-md-12 mb-md-3">
                                                    <div class="col-md-4">
                                                        <div class="input-group form-outline">
                                                            <input type="text" class="form-control" id="search" aria-describedby="inputGroupPrepend4" />
                                                            <label for="search" class="form-label">Buscar por código</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <button class="btn btn-primary col-md-3 me-3" type="button">Buscar</button>
                                                        <button class="btn btn-light col-md-3" type="button">Limpar</button>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12 mb-md-3">
                                                    <div class="col-md-4">
                                                        <div class="input-group form-outline">
                                                            <input type="text" class="form-control" id="search1" aria-describedby="inputGroupPrepend4" />
                                                            <label for="search1" class="form-label">Buscar por nome</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <button class="btn btn-primary col-md-3 me-3" type="button">Buscar</button>
                                                        <button class="btn btn-light col-md-3" type="button">Limpar</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <table id="example" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <strong>#ID</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Nome</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Data Nascimento</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Sexo</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Função</strong>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.Educators != null && ViewBag.Educators.Count > 0)
                                                        {
                                                            @for (int i = 0; i < ViewBag.Educators.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        ViewBag.Educators[i].Id;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Educators[i].FullName;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Educators[i].BirthDate;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Educators[i].GenderType;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Educators[i].FunctionType;
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row col-md-12 mt-md-3">
                                                <div class="col-md-4">
                                                    <div class="input-group form-outline">

                                                        <input asp-for="Educator.FirstName" class="form-control" id="firstname" aria-describedby="inputGroupPrepend3" required />
                                                        <label for="firstname" class="form-label">Primeiro nome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Educator.FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="input-group form-outline">

                                                        <input asp-for="Educator.LastName" class="form-control" id="lastname" required />
                                                        <label for="lastname" class="form-label">Sobrenome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Educator.LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect05">Função</label>
                                                        <select asp-for="Educator.FunctionType" class="form-select" id="inputGroupSelect05">
                                                            <option selected>Selecione...</option>
                                                            <option value="Responsible">Responsável</option>
                                                            <option value="Auxiliary">Auxiliar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Criança
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="col-md-12">
                                                <div class="row col-md-12 mb-md-3">
                                                    <div class="col-md-4">
                                                        <div class="input-group form-outline">
                                                            <input type="text" class="form-control" id="search" aria-describedby="inputGroupPrepend4" />
                                                            <label for="search" class="form-label">Buscar por código</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <button class="btn btn-primary col-md-3 me-3" type="button">Buscar</button>
                                                        <button class="btn btn-light col-md-3" type="button">Limpar</button>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12 mb-md-3">
                                                    <div class="col-md-4">
                                                        <div class="input-group form-outline">
                                                            <input type="text" class="form-control" id="search1" aria-describedby="inputGroupPrepend4" />
                                                            <label for="search1" class="form-label">Buscar por nome</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <button class="btn btn-primary col-md-3 me-3" type="button">Buscar</button>
                                                        <button class="btn btn-light col-md-3" type="button">Limpar</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <table id="example1" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <strong>#ID</strong>
                                                            </th>
                                                            @* <th>
                                                                <strong>Primeiro nome</strong>
                                                                </th>
                                                                <th>
                                                                <strong>Sobrenome</strong>
                                                                </th>*@
                                                            <th>
                                                                <strong>Nome</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Data Nascimento</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Sexo</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Faixa Etária</strong>
                                                            </th>
                                                            @* <th>
                                                                <strong>Horário Entrada</strong>
                                                                </th>
                                                                <th>
                                                                <strong>Horário Saída</strong>
                                                                </th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.Children != null && ViewBag.Children.Count > 0)
                                                        {
                                                            @for (int i = 0; i < ViewBag.Children.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        ViewBag.Children[i].Id;
                                                                    </td>
                                                                    @*<td>
                                                                        ViewBag.Children[i].FirstName;
                                                                        </td>
                                                                        <td>
                                                                        ViewBag.Children[i].LastName;
                                                                        </td>*@
                                                                    <td>
                                                                        ViewBag.Children[i].FullName;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Children[i].BirthDate;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Children[i].GenderType;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Children[i].AgeGroupType;
                                                                    </td>
                                                                    @* <td>
                                                                        ViewBag.Children[i].HoraryOfEntry;
                                                                        </td>
                                                                        <td>
                                                                        ViewBag.Children[i].HoraryOfExit;
                                                                        </td>*@
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row col-md-12 mt-md-3">
                                                <div class="col-md-4 mv-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Children[0].FirstName" class="form-control" id="firstname" aria-describedby="inputGroupPrepend3" required />
                                                        <label for="firstname" class="form-label">Primeiro nome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Children[0].FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 mb-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Children[0].LastName" class="form-control" id="lastname" required />
                                                        <label for="lastname" class="form-label">Sobrenome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Children[0].LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-md-3">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datepicker5'>
                                                            <input asp-for="@Model.Children[0].BirthDate" class="form-control" />
                                                            <span class="input-group-append">
                                                                <span class="input-group-text bg-white d-block">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect05">Sexo</label>
                                                        <select asp-for="@Model.Children[0].GenderType" class="form-select" id="inputGroupSelect05">
                                                            <option selected>Selecione...</option>
                                                            <option value="M">Masculino</option>
                                                            <option value="F">Feminino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect05">Faixa Etária</label>
                                                        <select asp-for="@Model.Children[0].AgeGroupType" class="form-select" id="inputGroupSelect05">
                                                            <option selected>Selecione...</option>
                                                            <option value="Nursery">Berçário</option>
                                                            <option value="Maternal">Maternal</option>
                                                            <option value="Primary">Primário</option>
                                                            <option value="Juniors">Jurniores</option>
                                                        </select>
                                                    </div>
                                                </div>
                                               @*<div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Children[0].HoraryOfEntry" class="form-control" id="firstname" aria-describedby="inputGroupPrepend3" required />
                                                        <label for="firstname" class="form-label">Horário de entrada</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Children[0].HoraryOfEntry" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Children[0].HoraryOfExit" class="form-control" id="lastname" required />
                                                        <label for="lastname" class="form-label">Horário de saída</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Children[0].HoraryOfExit" class="text-danger"></span>
                                                    </div>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Responsável
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="col-md-12">
                                                <table id="example2" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <strong>#ID</strong>
                                                            </th>
                                                            @* <th>
                                                                <strong>Primeiro nome</strong>
                                                                </th>
                                                                <th>
                                                                <strong>Sobrenome</strong>
                                                                </th>*@
                                                            <th>
                                                                <strong>CPF</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Nome</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Data Nascimento</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Sexo</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Parentesco</strong>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.Responsibles != null && ViewBag.Responsibles.Count > 0)
                                                        {
                                                            @for (int i = 0; i < ViewBag.Responsibles.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].Id;
                                                                    </td>
                                                                    @*<td>
                                                                        ViewBag.Children[i].FirstName;
                                                                        </td>
                                                                        <td>
                                                                        ViewBag.Children[i].LastName;
                                                                        </td>*@
                                                                    <td>
                                                                        ViewBag.Responsibles[i].Cpf.Number;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].FullName;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].BirthDate;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].GenderType;
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].KinshipType;
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="row col-md-12 mt-md-3">
                                                <div class="col-md-4 mv-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Children[0].Responsibles[0].FirstName" class="form-control" id="firstname" aria-describedby="inputGroupPrepend3" required />
                                                        <label for="firstname" class="form-label">Primeiro nome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Children[0].Responsibles[0].FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 mb-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Children[0].Responsibles[0].LastName" class="form-control" id="lastname" required />
                                                        <label for="lastname" class="form-label">Sobrenome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Children[0].Responsibles[0].LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-md-3">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datepicker6'>
                                                            <input asp-for="@Model.Children[0].Responsibles[0].BirthDate" class="form-control" />
                                                            <span class="input-group-append">
                                                                <span class="input-group-text bg-white d-block">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect05">Sexo</label>
                                                        <select asp-for="@Model.Children[0].Responsibles[0].GenderType" class="form-select" id="inputGroupSelect05">
                                                            <option selected>Selecione...</option>
                                                            <option value="M">Masculino</option>
                                                            <option value="F">Feminino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect05">Parentesco</label>
                                                        <select asp-for="@Model.Children[0].AgeGroupType" class="form-select" id="inputGroupSelect05">
                                                            <option selected>Selecione...</option>
                                                            <option value="Dad">Pai</option>
                                                            <option value="Mom">Mãe</option>
                                                            <option value="Grandfather">Avô</option>
                                                            <option value="Grandmother">Avó</option>
                                                            <option value="Uncle">Tio</option>
                                                            <option value="Aunt">Tia</option>
                                                            <option value="Brother">Irmão</option>
                                                            <option value="Sister">Irmã</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Children[0].Responsibles[0].Phones[0].Number" class="form-control" id="firstname" aria-describedby="inputGroupPrepend3" required />
                                                        <label for="firstname" class="form-label">Telefone</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Children[0].Responsibles[0].Phones[0].Number" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect01">Tipos telefones</label>
                                                        <select asp-for="@Model.Children[0].Responsibles[0].Phones[0].PhoneType" class="form-select" id="inputGroupSelect01">
                                                            <option selected>Selecione...</option>
                                                            <option value="Residential">Residencial</option>
                                                            <option value="Commercial">Comercial</option>
                                                            <option value="CellPhone">Celular</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-md-0 mb-md-3">
                <button class="btn btn-primary col-md-3 me-md-3" type="submit">Criar Sala</button>
                <button class="btn btn-primary col-md-3" type="submit">Adicionar Criança</button>
            </div>            
        </form>
    </div>
</div>

<script>
    $(function () {
        $('#datepicker4').datepicker({ format: 'dd/mm/yyyy' });
    });

    $(function () {
        $('#datepicker5').datepicker({ format: 'dd/mm/yyyy' });
    });

    $(function () {
        $('#datepicker6').datepicker({ format: 'dd/mm/yyyy' });
    });

</script>

<script>
    $(function () {
        var table = $('#example').DataTable({
            lengthChange: false,
            //buttons: [
            //    {
            //        extend: 'csv',
            //        split: ['pdf', 'excel'],
            //    }
            //]
        });

        //table.buttons().container()
        //    .appendTo('#example_wrapper .col-md-6:eq(0)');
    });

    $(function () {
        var table = $('#example1').DataTable({
            lengthChange: false,

        });
    });

    $(function () {
        var table = $('#example2').DataTable({
            lengthChange: false,

        });
    });

</script>

<!-- MDB -->
<script src="~/mdb5-ui-kit/js/mdb.min.js"></script>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
