@model IEnumerable<Universal.EBI.MVC.Models.EducatorViewModel>

<div class="card">
    <div class="card-body">        
        <div class="card-text">                    
            <a asp-controller="Educator" asp-action="Create"><input type="button" class="btn btn-link px-3 me-2" value="Criar novo educador" /></a>
        </div>
        
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <div class="col-md-12">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FunctionType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ClassroomId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Excluded)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhotoUrl)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BirthDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GenderType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastModifiedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastModifiedDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() >= 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FunctionType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClassroomId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Excluded)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhotoUrl)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BirthDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GenderType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastModifiedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastModifiedDate)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Button</button>
        </div>
    </div>
</div>
