@using Universal.EBI.MVC.Extensions
@model Universal.EBI.MVC.Models.ClassroomViewModel

@{
    var modelPaged = TempDataExtension.Get<PagedResult<ChildViewModel>>(TempData, "Children");
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-md-12 mt-md-3">
    <div class="col-md-6"><h5>Adicionar Criança</h5></div>
    <div class="col-md-6 text-end"><a asp-action="Index">Back to List</a></div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form class="g-4" asp-controller="Child" asp-action="GetChildren" method="get">
                    <div class="row text-center">
                        <div class="col-md-9">
                            <div class="input-group form-outline">
                                <input type="text" class="form-control" id="q" name="q" aria-describedby="inputGroupPrepend4" />
                                <label for="q" class="form-label">Buscar Criança por nome</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form class="g-4" asp-controller="Child" asp-action="GetChild" method="get">
                    <div class="row text-center">
                        <div class="col-md-9">
                            <div class="input-group form-outline">
                                <input type="text" class="form-control" id="search" aria-describedby="inputGroupPrepend5" />
                                <label for="search" class="form-label">Buscar Criança por código</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" type="button">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mt-md-3">
    <div class="card col-md-12">
        <form class="row g-4" asp-action="Edit" method="post">
            <div class="card-body">
                <div class="card-text">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-md-12">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Sala de Aula
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row col-md-12">
                                                <div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="Region" class="form-control" id="region" required />
                                                        <label for="region" class="form-label">Região</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Region" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="Church" class="form-control" id="church" required />
                                                        <label for="church" class="form-label">Igreja</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Church" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="Lunch" class="form-control" id="lunch" />
                                                        <label for="lunch" class="form-label">Lanche</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Lunch" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datepicker2'>
                                                            <input asp-for="CreatedDate" class="form-control" />
                                                            <span class="input-group-append">
                                                                <span class="input-group-text bg-white d-block">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-md-3 mt-md-4">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect05">Tipo de Sala</label>
                                                        <select asp-for="ClassroomType" class="form-select" id="inputGroupSelect05">
                                                            <option selected>Selecione...</option>
                                                            <option value="1">Berçário</option>
                                                            <option value="2">Maternal</option>
                                                            <option value="3">Primário</option>
                                                            <option value="4">Juniores</option>
                                                            <option value="5">Mista</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 mt-md-4">
                                                    <div class="p-md-2">
                                                        <div class="form-check form-check-inline">
                                                            <label class="mb-2" for="flexRadioDefault">Horário</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" asp-for="MeetingTime" id="inlineRadio1" value="7:00H">
                                                            <label class="form-check-label" for="inlineRadio1">7:00H</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" asp-for="MeetingTime" id="inlineRadio2" value="10:00H">
                                                            <label class="form-check-label" for="inlineRadio2">10:00H</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" asp-for="MeetingTime" id="inlineRadio3" value="15:00H">
                                                            <label class="form-check-label" for="inlineRadio3">15:00H</label>
                                                        </div>
                                                        <div class="me-5 form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" asp-for="MeetingTime" id="inlineRadio4" value="19:30H">
                                                            <label class="form-check-label" for="inlineRadio4">19:30H</label>
                                                        </div>
                                                        <div class="col-md-0 form-check-inline">
                                                            <label class="mb-2" for="flexRadioDefault">Situação da Sala</label>
                                                        </div>
                                                        <div class="form-check form-switch form-check-inline">
                                                            <input class="form-check-input" type="checkbox" asp-for="Actived" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label" for="flexSwitchCheckDefault">Ativa</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Educador
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row col-md-12 mt-md-3">
                                                <div class="col-md-4">
                                                    <div class="input-group form-outline">

                                                        <input asp-for="Educator.FirstName" class="form-control" id="educatorFirstname" aria-describedby="inputGroupPrepend6" required />
                                                        <label for="educatorFirstname" class="form-label">Primeiro nome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Educator.FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="input-group form-outline">

                                                        <input asp-for="Educator.LastName" class="form-control" id="educatorLastname" required />
                                                        <label for="educatorLastname" class="form-label">Sobrenome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="Educator.LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect06">Função</label>
                                                        <select asp-for="Educator.FunctionType" class="form-select" id="inputGroupSelect06">
                                                            <option selected>Selecione...</option>
                                                            <option value="1">Responsável</option>
                                                            <option value="2">Auxiliar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Criança
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">                                           
                                            <div class="col-md-12">
                                                <table id="tblChildren" class="table table-striped table-hover" style="width:100%">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th></th>
                                                            <th>
                                                                <strong>#ID</strong>
                                                            </th>
                                                            @* <th>
                                                                <strong>Primeiro nome</strong>
                                                                </th>
                                                                <th>
                                                                <strong>Sobrenome</strong>
                                                                </th>*@
                                                            <th>
                                                                <strong>Nome</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Data Nascimento</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Sexo</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Faixa Etária</strong>
                                                            </th>
                                                            @* <th>
                                                                <strong>Horário Entrada</strong>
                                                                </th>
                                                                <th>
                                                                <strong>Horário Saída</strong>
                                                                </th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (modelPaged != null && modelPaged.List.ToList().Count > 0)
                                                        {
                                                            @foreach (var child in modelPaged.List.ToList().OrderBy(e => e.FirstName))
                                                            {
                                                                <tr>
                                                                    <th scope="row">
                                                                        <div class="form-check">
                                                                            <input class="form-check-input"
                                                                           type="radio"
                                                                           value=""
                                                                           id="flexCheckDefault"
                                                                           name="flexCheckDefault"
                                                                           onclick="seedFields()" />
                                                                        </div>
                                                                    </th>
                                                                    <td>
                                                                        @child.Id
                                                                    </td>
                                                                    @*<td>
                                                                        child.FirstName
                                                                        </td>
                                                                        <td>
                                                                        child.LastName
                                                                        </td>*@
                                                                    <td>
                                                                        @child.FullName
                                                                    </td>
                                                                    <td>
                                                                        @child.BirthDate
                                                                    </td>
                                                                    <td>
                                                                        @child.GenderType
                                                                    </td>
                                                                    <td>
                                                                        @child.AgeGroupType
                                                                    </td>
                                                                    @* <td>
                                                                        child.HoraryOfEntry
                                                                        </td>
                                                                        <td>
                                                                        child.HoraryOfExit
                                                                        </td>*@
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                @if (modelPaged == null || modelPaged.List.ToList().Count == 0)
                                                {
                                                    <div class="table-light text-center p-md-2">
                                                        <strong>Não existem dados para exibição.</strong>
                                                    </div>
                                                }
                                            </div>

                                            <vc:paginacao model-paged="@modelPaged"></vc:paginacao>

                                            <div class="row col-md-12 mt-md-3">
                                                <div class="col-md-4 mv-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Childs[0].FirstName" class="form-control" id="childFirstname" aria-describedby="inputGroupPrepend7" />
                                                        <label for="childFirstname" class="form-label">Primeiro nome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Childs[0].FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 mb-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Childs[0].LastName" class="form-control" id="childLastname" />
                                                        <label for="childLastname" class="form-label">Sobrenome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Childs[0].LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-md-3">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datepicker3'>
                                                            <input asp-for="@Model.Childs[0].BirthDate" class="form-control" />
                                                            <span class="input-group-append">
                                                                <span class="input-group-text bg-white d-block">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect07">Sexo</label>
                                                        <select asp-for="@Model.Childs[0].GenderType" class="form-select" id="inputGroupSelect07">
                                                            <option selected>Selecione...</option>
                                                            <option value="M">Masculino</option>
                                                            <option value="F">Feminino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect08">Faixa Etária</label>
                                                        <select asp-for="@Model.Childs[0].AgeGroupType" class="form-select" id="inputGroupSelect08">
                                                            <option selected>Selecione...</option>
                                                            <option value="Nursery">Berçário</option>
                                                            <option value="Maternal">Maternal</option>
                                                            <option value="Primary">Primário</option>
                                                            <option value="Juniors">Jurniores</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Childs[0].HoraryOfEntry" class="form-control" id="horaryEntry" aria-describedby="inputGroupPrepend8" />
                                                        <label for="horaryEntry" class="form-label">Horário de entrada</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Childs[0].HoraryOfEntry" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Childs[0].HoraryOfExit" class="form-control" id="horaryExit" />
                                                        <label for="horaryExit" class="form-label">Horário de saída</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Childs[0].HoraryOfExit" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Responsável
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="col-md-12">
                                                <table id="example2" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <strong>#ID</strong>
                                                            </th>
                                                            @* <th>
                                                                <strong>Primeiro nome</strong>
                                                                </th>
                                                                <th>
                                                                <strong>Sobrenome</strong>
                                                                </th>*@
                                                            <th>
                                                                <strong>CPF</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Nome</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Data Nascimento</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Sexo</strong>
                                                            </th>
                                                            <th>
                                                                <strong>Parentesco</strong>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.Responsibles != null && ViewBag.Responsibles.Count > 0)
                                                        {
                                                            @for (int i = 0; i < ViewBag.Responsibles.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].Id
                                                                    </td>
                                                                    @*<td>
                                                                        ViewBag.Children[i].FirstName
                                                                        </td>
                                                                        <td>
                                                                        ViewBag.Children[i].LastName
                                                                        </td>*@
                                                                    <td>
                                                                        ViewBag.Responsibles[i].Cpf.Number
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].FullName
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].BirthDate
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].GenderType
                                                                    </td>
                                                                    <td>
                                                                        ViewBag.Responsibles[i].KinshipType
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                @if (modelPaged == null || modelPaged.List.ToList().Count == 0)
                                                {
                                                    <div class="table-light text-center p-md-2">
                                                        <strong>Não existem dados para exibição.</strong>
                                                    </div>
                                                }
                                            </div>

                                            <vc:paginacao model-paged="@modelPaged"></vc:paginacao>

                                            <div class="row col-md-12 mt-md-3">
                                                <div class="col-md-4 mv-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Childs[0].Responsibles[0].FirstName" class="form-control" id="responsibleFirstname" aria-describedby="inputGroupPrepend9" />
                                                        <label for="responsibleFirstname" class="form-label">Primeiro nome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Childs[0].Responsibles[0].FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 mb-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Childs[0].Responsibles[0].LastName" class="form-control" id="responsibleLastname" />
                                                        <label for="responsibleLastname" class="form-label">Sobrenome</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Childs[0].Responsibles[0].LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-md-3">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datepicker4'>
                                                            <input asp-for="@Model.Childs[0].Responsibles[0].BirthDate" class="form-control" />
                                                            <span class="input-group-append">
                                                                <span class="input-group-text bg-white d-block">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect09">Sexo</label>
                                                        <select asp-for="@Model.Childs[0].Responsibles[0].GenderType" class="form-select" id="inputGroupSelect09">
                                                            <option selected>Selecione...</option>
                                                            <option value="M">Masculino</option>
                                                            <option value="F">Feminino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect10">Parentesco</label>
                                                        <select asp-for="@Model.Childs[0].AgeGroupType" class="form-select" id="inputGroupSelect10">
                                                            <option selected>Selecione...</option>
                                                            <option value="Dad">Pai</option>
                                                            <option value="Mom">Mãe</option>
                                                            <option value="Grandfather">Avô</option>
                                                            <option value="Grandmother">Avó</option>
                                                            <option value="Uncle">Tio</option>
                                                            <option value="Aunt">Tia</option>
                                                            <option value="Brother">Irmão</option>
                                                            <option value="Sister">Irmã</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group form-outline">
                                                        <input asp-for="@Model.Childs[0].Responsibles[0].Phones[0].Number" class="form-control" id="firstname" aria-describedby="inputGroupPrepend10" />
                                                        <label for="firstname" class="form-label">Telefone</label>
                                                    </div>
                                                    <div>
                                                        <span asp-validation-for="@Model.Childs[0].Responsibles[0].Phones[0].Number" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <label class="input-group-text" for="inputGroupSelect11">Tipos telefones</label>
                                                        <select asp-for="@Model.Childs[0].Responsibles[0].Phones[0].PhoneType" class="form-select" id="inputGroupSelect11">
                                                            <option selected>Selecione...</option>
                                                            <option value="Residential">Residencial</option>
                                                            <option value="Commercial">Comercial</option>
                                                            <option value="CellPhone">Celular</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-md-0 mb-md-3">
                <button class="btn btn-primary col-md-3 me-md-3" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>

@*<script>
    $(function () {
    $('#datepicker3').datepicker({ format: 'dd/mm/yyyy' });
    });

    $(function () {
    $('#datepicker4').datepicker({ format: 'dd/mm/yyyy' });
    });

    $(function () {
    $('#datepicker5').datepicker({ format: 'dd/mm/yyyy' });
    });

    </script>*@

@*<script>
    $(function () {
    var table = $('#example').DataTable({
    lengthChange: false,
    buttons: [
    {
    extend: 'csv',
    split: ['pdf', 'excel'],
    }
    ]
    });

    table.buttons().container()
    .appendTo('#example_wrapper .col-md-6:eq(0)');
    });

    $(function () {
    var table = $('#example1').DataTable({
    lengthChange: false,

    });
    });

    $(function () {
    var table = $('#example2').DataTable({
    lengthChange: false,

    });
    });

    </script>*@

<script>
    function seedFields(){

        $('#tblChildren tr').each(function() {

            var childFirstname = $(this).find("td").eq(1).text();
            console.log(childFirstname)
            childFirstname = $.trim(childFirstname);
            $('#childFirstname').val(childFirstname);
            $('#childFirstname').addClass("active");

            var birthDate = $(this).find("td").eq(2).text();
            birthDate = $.trim(birthDate);
            $('#datepicker4').val(birthDate);
            //$('#lastname').addClass("active");

            var genderType = $(this).find("td").eq(3).text();
            genderType = $.trim(genderType);
            $('#inputGroupSelect07').val(genderType);

            var ageGroupType = $(this).find("td").eq(4).text();
            ageGroupType = $.trim(ageGroupType);
            $('#inputGroupSelect08').val(ageGroupType);

            //alert(firstname + ' ' + lastname + ' ' + functionType);
        });

    }
</script>

<!-- MDB -->
<script src="~/mdb5-ui-kit/js/mdb.min.js"></script>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}


